:root {
    --primary-color: #4040f2;
    --secondary-color: #0d0d54;
    --offline-color: #621e74;
    --danger-color: #ca1717;
    --hover-color: #eaeaea;
    --shadow-color: #ddd;

    --login-bg: #ffb334;
    --danger-bg: #c24747;
    --dashboard-bg: #fff;
    --dashboard-sidedrawer: #b3b3b3;
    --success-bg: #2A9A0A;

    --text-color: #000000;
    --lower-font-size: 12px;
    --upper-font-size: 18px;
    --x-large: 2.5rem;
    --large: 1.5rem;
    --medium: 1.25rem;
    --normal: 1rem;
    --small: 0.875rem;
    --x-small: 0.75rem;

    --spacing-large: 1rem;
    --spacing-medium: 0.75rem;
    --spacing-normal: 0.5rem;
    --spacing-small: 0.25rem;
    --spacing-tiny: 0.0625rem;

    --border-radius: 10px;
    --animation-length: .3s;
}

@keyframes zoom {
    from {
        transform: scale(0.95)
    }
    to {
        transform: scale(1);
    }
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
