:root {
    --primary-color: #4040f2;
    --secondary-color: #0d0d54;
    --danger-color: #ca1717;
    --nav-bg: #0eb2e4;
    --login-bg: #ffb334;
    --dashboard-bg: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    --text-color: #000000;

    --font-size: 16px;
    --x-large: 2rem;
    --large: 1.5rem;
    --medium: 1.25rem;
    --normal: 1rem;
    --small: 0.875rem;
    --x-small: 0.75rem;

    --spacing-big: 1rem;
    --spacing-normal: 0.5rem;
    --spacing-small: 0.25rem;

    --border-radius: 10px;

}